body {
  background: url('../img/white_wall_hash.png');
}

.max-width {
  max-width: 1000px;
  margin: 0 auto;
}

/* --------------- */
/*      Header     */
/* --------------- */

.header {
  /*margin-top: 40px;*/
  padding-top: 20px;
  background-color: white;
  height: 80px;
  border-bottom: 3px solid #dadada;
  margin-bottom: 60px;
}

.links li{
  margin-right: 20px;
  display: inline;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  font-size: 16pt;
  text-decoration: none;
  color: #272727 !important;
}

/* --------------- */
/*     Projects    */
/* --------------- */

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /*align-content: flex-start;*/
  align-content: flex-start;
}

.projects {
  margin: 5px;
  color: #4c4c4c;
}
/*
.subtitle {
  padding-top: 10px;
  background-color: white;
}*/
