<div class="about content">
	<h1>About</h1>
	<p>
	There's no doubt that Seattle is a beautiful city, and it's parks are no exception! Here you will find an easy to use directory of the best parks in the city, categorized by the classics - long time favorites and must see locations, and the hidden gems - which are tiny, little known parks scattered throughout the city that you may not even be aware of as a Seattle native! Additionally, be sure to check out the Secret Beaches section if you're down for an adventure.
	</p>
	<h1>Site Info</h1>
	<p class="site-info">
	Made with AngularJS & Bootstrap<br>
	Created by Kim Brandt 2016<br>
	<a href="#">Portfolio</a> | <a href="#">Linked In</a> | <a href="#">Twitter</a> | <a href="#">Instagram</a><br>

	</p>
</div>