<h1 class="title story">My Story</h1>
<div class="well story_text">
	<h3>Born and raised in the Pacific Northwest, I have had the pleasure of calling Seattle my home since April 4, 1991. The youngest of five with three brothers and one sister, I learned good morals at a very young age. I am very thankful for my family's support throughout my life.</h3>
										
	<h3>On May 29th, 2008, the week before my junior year finals, I was in a motorcycle accident which put me in a coma for two and half weeks. Suffering from only a fractured skull from ear to ear, frontal lobe shearing of my brain (TBI), torn brachial plexus, three broken ribs, deflated lung, shattered hand and nightmares to last me a life time. The doctors told my family that I had only a 4% chance of living. I am very lucky to be here to today and also very thankful.</h3>

	<h3>Throughout the next year I was in rehabilitation programs to help me recover. As I started applying for college, my parents said they had little money to help support me due to all the medical bills. After all the hard work I put towards going to a good college, I just simply could not afford it.
	</h3>    

	<h3>My last hope was to enter a competition for the Huskie Promise (a scholarship the University of Washington offers). The framework for the essay, write about an event that you went through and how you overcame the obstacles. What was up to that point, the worst moment of my life turned into the most amazing.
	</h3>

	<h3>I wrote an essay about my motorcycle accident, having a traumatic brain injury, the months of recovery, and then turning around and completing my senior year of high school while in AP Calculus. The judges agreed and I had won the Huskie Promise. Winning the Huskie Promise scholarship, I was finally able to go to a University, something no one in my family had done before. With hard work, determination and family support I succeeded the biggest battle of all, "my life" and won the scholarship to pay for my college education.
	</h3> 

	<h3>The even bigger obstacle ahead was completing my college education. Frontal lobe injuries of the brain cause issues with memory for people. My traumatic brain injury was sheering of my frontal lobe. Doctors told me not be frustrated with my memory lose. As an optimist, I did not let this effect me and ended graduating college with a 3.7 gpa.
	</h3> 

	<h3>As I continue my career, more obstacles will have to be overcome. The way I look at it, I already overcame the biggest obstacle so nothing is preventing me from achieving the next. In fact, needing to be able to showcase my photography and videography talents and skills, I decided to become a web-developer to build this site and many others.
	</h3>
</div>