<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><a href="/#/">Home</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <h1 class="text-center">About the Band</h1>

  <img class="about-pic" src="../images/about.jpg">
  <br>

    <p class="lead">
      "Wavves is an American rock band, based in San Diego, California. Formed in 2008 by singer-songwriter Nathan Williams (born June 12, 1986) the band also features Alex Gates (guitar, backing vocals), Stephen Pope (bass guitar, backing vocals) and Brian Hill (drums and backing vocals)."</p>

    <p class="lead text-center">Band Website: <a href="http://www.wavves.net">www.wavves.net</a></p>
    

  <div class="well">
    <div class="row">
      <div class="col-md-3">
        <h4>Genres</h4>
        <ul>
          <li>Indie rock</li>
          <li>Pop punk</li>
          <li>Surf rock</li>
          <li>Punk rock</li>
          <li>Lo-fi</li>
        </ul>
      </div>
      <div class="col-md-3">
        <h4>Current Members</h4>
        <ul>
          <li>Nathan Williams</li>
          <li>Alex Gates</li>
          <li>Stephen Pope</li>
          <li>Brian Hill</li>
        </ul>
      </div>
      <div class="col-md-3">
        <h4>Past Members</h4>
        <ul>
          <li>Ryan Ulsh</li>
          <li>Zach Hill</li>
          <li>Billy Hayes</li>
          <li>Jacob Cooper</li>
        </ul>
      </div>
      <div class="col-md-3">
        <h4>You Might Also Like</h4>
        <ul>
          <li>Best Coast</li>
          <li>Cloud Nothings</li>
          <li>Japandroids</li>
          <li>FIDLAR</li>
          <li>Deerhunter</li>
        </ul>
      </div>
    </div>
  </div>
    <p><strong>Source:</strong> <a href="https://en.wikipedia.org/wiki/Wavves">https://en.wikipedia.org/wiki/Wavves</a></p>
</div>