<h1>Meet the Characters</h1>

<div class="cNav">
  <a href="/#/drHorrible">
    <img class="img-thumbnail characters" src="../img/drHorrible.jpg">
    <h2>Dr. Horrible</h2>
  </a>
</div>
<div class="cNav">
  <a href="/#/captainHammer">
    <img class="img-thumbnail characters" src="../img/captainHammer.jpg">
    <h2>Captain Hammer</h2>
  </a>
</div>
<div class="cNav">
  <a href="/#/penny">
    <img class="img-thumbnail characters" src="../img/penny.jpg">
    <h2>Penny</h2>
  </a>
</div>
<div class="cNav">
  <a href="/#/moist">
    <img class="img-thumbnail characters" src="../img/moist.jpg">
    <h2>Moist</h2>
  </a>
</div>
<div class="cNav">
  <a href="/badHorse">
    <img class="img-thumbnail characters" src="../img/badHorse.jpg">
    <h2>Bad Horse</h2>
  </a>
</div>
