<h1>Cloud Types</h1>
	
<h2>High Clouds</h2>
	<div class="row">
		<a href="#" class='cloudClick'>
		<div class="col-md-4 col-lg-4 cloudType text-center" id="cirrus" >
      		<h3>Cirrus</h3>
    	</div>
    	</a>
    	<a href="#" class='cloudClick'>
    	<div class="col-md-4 col-lg-4 cloudType text-center" id="cirrostratus">
      		<h3>Cirrostratus</h3>
    	</div>
    	</a>
    	<a href="#" class='cloudClick'>
    	<div class="col-md-4 col-lg-4 cloudType text-center" id="cirrocumulus">
      		<h3>Cirrocumulus</h3>
    	</div>
    	</a>
	</div>
<h2>Mid Clouds</h2>
	<div class="row">
	<a href="#" class='cloudClick'>
		<div class="col-md-4 col-lg-4 cloudType text-center" id="altostratus">
      		<h3>Altostratus</h3>
    	</div>
    	</a>
    	<a href="#" class='cloudClick'>
    	<div class="col-md-4 col-lg-4 cloudType text-center" id="altocumulus">
      		<h3>Altocumulus</h3>
    	</div>
    	</a>
    	<a href="#" class='cloudClick'>
    	<div class="col-md-4 col-lg-4 cloudType text-center" id="nimbostratus">
      		<h3>Nimbostratus</h3>
    	</div>
    	</a>
	</div>

<h2>Low Clouds</h2>
	<div class="row">
	<a href="#" class='cloudClick'>
		<div class="col-md-4 col-lg-4 cloudType text-center" id="cumulus">
      		<h3>Cumulus</h3>
    	</div>
    	</a>
    	<a href="#" class='cloudClick'>
    	<div class="col-md-4 col-lg-4 cloudType text-center" id="stratus">
      		<h3>Stratus</h3>
    	</div>
    	</a>
    	<a href="#" class='cloudClick'>
    	<div class="col-md-4 col-lg-4 cloudType text-center" id="cumulonimbus">
      		<h3>Cumulonimbus</h3>
    	</div>
    	</a>
    	<a href="#" class='cloudClick'>
    	<div class="col-md-4 col-lg-4 cloudType text-center" id="stratocumulus">
      		<h3>Stratocumulus</h3>
    	</div>
    	</a>
	</div>
	





