<h1>Buy, Sell & Trade</h1>
<p class="col-xs-3"></p>
<p class="col-xs-6 text-justify"> We buy the following items for competitive prices, often times more than ebay or other stores.

Jazz, Rock, Soul, Disco, Rap, House, Latin, Reggae, African, Blues, Folk, and Soundtrack LPs, 12″s, and 45s.
Vintage/used turntables, amplifiers, tape decks, speakers, and audio equipment.
Music-related posters, artwork, books, and paper goods.
Please call and ask for the buyer if you would like to sell your goods. We are happy to make housecalls for the right stuff, otherwise we have a buyer on premises 5-6 days a week at our retail shop. We hope to hear from you!</p>