<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><a href="/#/">Home</a></li>
    </ul>
  </div>
</nav>

<div class="container disco">
  <h1 class="text-center">Discography</h1>
<br>
    <div class="row">
      <div class="col-xs-6">
        <img src="../images/v.jpg" class="album-cover">
      </div>
      <div class="col-md-6">
        <h3>"V"</h3>
        <p>Released: 2015</p>
        <ol>
          <li>Heavy Metal Detox</li>
          <li>Way Too Much</li>
          <li>Pony</li>
          <li>All the Same</li>
          <li>My Head Hurts</li>
          <li>Redlead</li>
          <li>Heart Attack</li>
          <li>Flamezesz</li>
          <li>Wait</li>
          <li>Tarantula</li>
          <li>Cry Baby</li>
        </ol>
      </div>
    </div>
  
  
    <div class="row">
      <div class="col-xs-6">
        <img src="../images/nolifeforme.jpg" class="album-cover">
      </div>
      <div class="col-md-6">
        <h3>"No Life for Me"
        <small>In Collaboration with Cloud Nothings</small></h3>
        <p>Released: 2015</p>
        <ol>
          <li>Untitled I</li>
          <li>How It's Gonna Go</li>
          <li>Come Down</li>
          <li>Hard To Find</li>
          <li>Untitled II</li>
          <li>Nervous</li>
          <li>No Life for Me</li>
          <li>Such a Drag</li>
          <li>Nothing Hurts</li>
        </ol>
      </div>
    </div>
 

    <div class="row">
      <div class="col-xs-6">
        <img src="../images/afraid.jpg" class="album-cover">
      </div>
      <div class="col-md-6">
        <h3>"Afraid of Heights"</h3>
        <p>Released: 2013</p>
        <ol>
          <li>Sail to the Sun</li>
          <li>Demon to Lean On</li>
          <li>Mystic</li>
          <li>Lunge Forward</li>
          <li>Dog</li>
          <li>Afraid of Heights</li>
          <li>Paranoid</li>
          <li>Cop</li>
          <li>Beat Me Up</li>
          <li>Everything Is My Fault</li>
          <li>That's on Me</li>
          <li>Gimme a Knife</li>
          <li>I Can't Dream</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <img src="../images/lifesux.jpg" class="album-cover">
      </div>
      <div class="col-md-6">
        <h3>"Life Sux"</h3>
        <p>Released: 2011</p>
        <ol>
          <li>Bug</li>
          <li>I Wanna Meet Dave Grohl</li>
          <li>Nodding Off (ft. Best Coast)</li>
          <li>Poor Lenore</li>
          <li>Destory (ft. Fucked Up)</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <img src="../images/kingofthebeach.png" class="album-cover">
      </div>
      <div class="col-md-6">
        <h3>"King of the Beach"</h3>
        <p>Released: 2010</p>
        <ol>
          <li>King of the Beach</li>
          <li>Super Soaker</li>
          <li>Idiot</li>
          <li>When Will You Come</li>
          <li>Post Acid</li>
          <li>Take on the World</li>
          <li>Baseball Cards</li>
          <li>Convertible Balloon</li>
          <li>Green Eyes</li>
          <li>Mickey Mouse</li>
          <li>Linus Spacehead</li>
          <li>Baby Say Goodbye</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <img src="../images/wavvves.jpg" class="album-cover">
      </div>
      <div class="col-md-6">
        <h3>"Wavvves"</h3>
        <p>Released: 2009</p>
        <ol>
          <li>Rainbow Everywhere</li>
          <li>Beach Demon</li>
          <li>To the Dregs</li>
          <li>Sun Opens My Eyes</li>
          <li>Gun in the Sun</li>
          <li>So Bored</li>
          <li>Goth Girls</li>
          <li>No Hope Kids</li>
          <li>Weed Demon</li>
          <li>California Goths</li>
          <li>Summer Goth</li>
          <li>Beach Goth</li>
          <li>Killr Punx, Scary Demons</li>
          <li>Surf Goth</li>
          <li>Friends Were Gone</li>
          <li>How Are You?</li>
          <li>I Wanna See You (And Go To The Movies)</li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <img src="../images/wavves.jpg" class="album-cover">
      </div>
      <div class="col-md-6">
        <h3>"Wavves"</h3>
        <p>Released: 2008</p>
        <ol>
          <li>Intro Goth</li>
          <li>California Goth</li>
          <li>Wavves</li>
          <li>Lover</li>
          <li>Space Raider</li>
          <li>Vermin</li>
          <li>Side Yr On</li>
          <li>Beach Goth</li>
          <li>The Boys Will Love Us</li>
          <li>Spaced Raider</li>
          <li>Yoked</li>
          <li>Teenage Super Party</li>
        </ol>
      </div>
    </div>
</div>
