<style>
  body {
    background: url(../img/fog.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: black;
}
</style>
<h1>ERRBODY DEAD</h1>
<a href="/#/GreysAnatomy">Home Page</a>
<hr>
<br>
<div class="animated fadeIn"">
  <div class="row">
    <div class="col-sm-2">
      <div class="picture">
        <img src="./img/denny.jpeg" class="img-thumbnail">
        <div class="caption">
          <h3>Denny Duquette</h3>
          <p>Blood clot while waiting for a heart transplant</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="picture">
        <img src="./img/george.png" class="img-thumbnail">
        <div class="caption">
          <h3>George O'Malley</h3>
          <p>Hit by a King County bus!</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="picture">
        <img src="./img/reed.png" class="img-thumbnail">
        <div class="caption">
          <h3>Reed Adamson</h3>
          <p>Shot point blank!</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="picture">
        <img src="./img/charles.png" class="img-thumbnail">
        <div class="caption">
          <h3>Charles Percy</h3>
          <p>Shot, bled out while hospital was locked down</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="picture">
        <img src="./img/lexie.jpeg" class="img-thumbnail">
        <div class="caption">
          <h3>Lexie Grey</h3>
          <p>Horrible plane crash, crushed under rubble</p>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-2">
      <div class="picture">
        <img src="./img/mark.jpeg" class="img-thumbnail">
        <div class="caption">
          <h3>Mark Sloan</h3>
          <p>Broken heart? Or cardiac tamponade from plane crash</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="picture">
        <img src="./img/adele.png" class="img-thumbnail">
        <div class="caption">
          <h3>Adele Webber</h3>
          <p>Heart attack after surgery</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="picture">
        <img src="./img/heather.jpeg" class="img-thumbnail">
        <div class="caption">
          <h3>Heather Brooks</h3>
          <p>Ehhhhh-lec-tro-cution!</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="picture">
        <img src="./img/samuel.png" class="img-thumbnail">
        <div class="caption">
          <h3>Samuel Norbert Avery</h3>
          <p>Even babies aren't safe</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="picture">
        <img src="./img/derek.jpeg" class="img-thumbnail">
        <div class="caption">
          <h3>Derek Shepherd</h3>
          <p>Hit by a truck while saving lives! His surgeons were idiots</p>
        </div>
      </div>
    </div>
  </div>
  </div>

  