<h2>Experience &amp; Education</h2>

General Assembly   May 2016 — Aug 2016
Web Development Immersive Student
Developed full-stack web applications 12 hours a day for 12 weeks.

Faithlife   Nov 2010 — Jan 2016
Marketing Department

Marketing Strategist, Logos Mobile Education
- Increased revenue 50% year over year.
- Created the business plan for the company's first video-subscription service.

Director, Kirkdale Press
- Started the company's first publishing imprint.
- Spearheaded the creation of the brand’s website, including planning, writing all content, overseeing design and development, and managing timelines and budgets.
- Made regular presentations to the CEO.
- Published the #5 best-selling book on iTunes in its category—in our first year.

Product Promotion Specialist, Logos Pre-Pub and Community Pricing
- Increased pre-orders 11.7% year over year.
- Increased user participation 80.6% and 23.7%.
- Increased revenue growth from 4.5% to 33.5%.

Rotz Consulting   2009 — 2010
Social Media Marketing Consultant

SuperNack, LLC   2010
CEO


Education

Whatcom Community College   2010
AA Business

