<h1>Facts</h1>
<div class="text-background">
	<ul>
		<li>Hippopotamidae suggests that hippos and whales shared a common semiaquatic ancestor</li>
		<li>Dwarf species evolved on several Mediterranean islands, including Crete (H. creutzburgi), Cyprus (H. minor), Malta (H. melitensis), and Sicily (H. pentlandi)</li>
		<l1>Hippos can be found in both savannah and forest areas.[1] Proper habitat requires enough water to submerge in and grass nearby.</l1>
		<li>Hippopotamus teeth sharpen themselves as they grind together.</li>
		<li>Their skin secretes a natural sunscreen substance which is red-coloured. The secretion is sometimes referred to as "blood sweat", but is neither blood nor sweat</li>
	</ul>
</div>