<style>
	body {
	    background: url(../img/greysanatomy.jpg) no-repeat center center fixed;
	    height: 850px;
	    width: 100%;
	    border: 5px;
	    padding: 5px;
	    background-size: cover;
	    color: snow;
	}
</style>
<div class="animated fadeInLeftBig">
	<h1>GREY'S ANATOMY</h1>
	<h2>The show where the medical terms don't matter, and everyone you hate dies...</h2>
	<h4> ... P.s. so does everyone you love.</h4>


	<div>
	    <button type="button" class="errbody"><a href="/#/ErrbodyDead">Find Out Who Dead!</a></button>
	</div>
</div>
