<h1>A History of Drum Machines</h1>

<button ng-click="showGeneral = !showGeneral">General Info</button>
<div ng-show="showGeneral" class="" style="width: 500px">
  <p>
    A drum machine is an electronic musical instrument designed to imitate the sound of drums, cymbals, other percussion instruments, and often basslines. Drum machines are most commonly associated with electronic music genres such as house music, but are also used in many other genres.
  </p>
  <p>
    They are usually used when session drummers are not available or if the production cannot afford the cost of a drummer. Also, many modern drum machines can also produce unique sounds, as well as allowing the user to compose unique drum beats and patterns that might be difficult to perform with a human drummer. In the 2010s, most modern drum machines are sequencers with a sample playback (rompler) or synthesizer component that specializes in the reproduction of drum timbres. -Wikipedia
  </p>
  <hr>
</div>

<button ng-click="showRoland = !showRoland">Roland TR-808 / 909</button>
<div ng-show="showRoland" class="" style="width: 500px">
  <p>
    Roland TR-808 and TR-909 machines
  </p>
  <p>
    The famous Roland TR-808, a programmable drum machine, was also launched in 1980. At the time it was received with little fanfare, as it did not have digitally sampled sounds; drum machines using digital samples were more popular in the early 1980s. In time, however, the TR-808, along with its successor, the TR-909 (released in 1983), would become a fixture of the burgeoning underground dance, electro, house, techno, R&#38;B and hip-hop genres, mainly because of its low cost (relative to that of the Linn machines) and the unique character of its analogue-generated sounds, which included five unique percussion sounds: “the hum kick, the ticky snare, the tishy hi-hats (open and closed) and the spacey cowbell.” It was first utilized by Yellow Magic Orchestra in the year of its release, after which it would gain further popularity with Marvin Gaye's "Sexual Healing" and Afrikaa Bambaataa's "Planet Rock" in 1982.
    </p>
    <p>
    In a somewhat ironic twist it is the analogue-based Roland machines that have endured over time as the Linn sound became somewhat overused and dated by the end of the decade. The TR-808 and TR-909's beats have since been widely featured in pop music, and can be heard on countless recordings up to the present day. Because of its bass and long decay, the kick drum from the TR-808 has also featured as a bass line in various genres such as hip hop and drum and bass. Since the mid-1980s, the TR-808 and TR-909 have been used on more hit records than any other drum machine, and has thus attained an iconic status within the music industry.
  </p>
  <hr>
</div>

<button ng-click="showMPC = !showMPC">Akai MPC</button>
<div ng-show="showMPC" class="" style="width: 500px">
  <p>
    Akai MPCs (originally MIDI Production Center, now Music Production Controller) are a popular series of electronic musical instruments originally designed by Roger Linn and produced by the Japanese company Akai from 1988 onward. Intended to function as a powerful kind of drum machine, the MPCs drew on design ideas from machines such as the Sequential Circuits Inc. Studio 440 and the Linn's own Linn 9000, combining a powerful MIDI sequencer with the ability to sample one's own sounds.
  </p>
  <p>
    A major influence to Roger Linn's design was his love of rubber pads and how they could be pushed, prodded, and banged; this can be seen clearly in his designs especially from the MPC-60 onwards. Linn also had a passion for squares: thus, no round pads on the MPC Series. Later models feature increasingly powerful sampling, storage, interfacing and sound manipulation facilities, which broaden the use of instrument beyond just drum and rhythm tracks.
  </p>
  <hr>
</div>

<button ng-click="showMaschine = !showMaschine">Native Instruments Maschine</button>
<div ng-show="showMaschine" class="" style="width: 500px">
  <p>
    Maschine is a hybrid hardware/software digital audio workstation developed by Native Instruments. Maschine consists of a controller that connects to the included sequencing software, which can be installed on any compatible computer or laptop.
  </p>
  <p>
    The Maschine controller is designed like a drum machine, similar to products like the Akai MPC. The controller is powered and connected by USB, with each variation featuring 16 pressure sensitive pads and back-lit buttons. The hardware is not limited for sole use with the Maschine software, but is also compatible with Native Instruments' Traktor DJ software, and music production software such as Ableton Live and FL Studio. There are currently 6 different hardware variations.
  </p>
  <p>
    Maschine can easily transform a laptop and some headphones into a professional production suite. By simply touching two buttons at the same time, shift and pad mode, any percussive instrument or synth can be played in a range of specific key signatures. There is also a note repeat.
  </p>
  <hr>
</div>
