<div id="top">
    <h1>Me</h1>
    <div class="container image_summary">
        <div class="col-md-4">
            <img id="profilePic" ng-src="images/mesquare.jpg" alt="Description" />
        </div>
        <div class="col-md-8"><span id="initialHello">Hello</span><span id="summary"> I'm a full stack web developer, previously a microfabrication engineer working to create new technologies for the biomedical field. I thrive on problem solving and pursue intelligent, intuitive design. I love building applications and bringing useful solutions to life. I feel energized and excited learning the latest technologies. When I'm not working I'm playing board games, enjoying my family and new baby.</span></div>
    </div>
</div>



<div>
    <h1>Projects</h1>
    <div class="container padding">
        <div class="col-md-6">
            <img id="cac" ng-src="images/cardsagainsthumanity.png" alt="Description" />
            <h1>Cards Against Humanity</h1><p>An online version of the popular card game Cards Against Humanity. Built using HTML, CSS, JavaScript, jQuery and jQuery UI.</p>
        </div>
    </div>
</div>
