<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<base href="/">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/style.css">
  <title>Taqueria El Taquin</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
  <script src="js/app.js"></script>
</head>
<body ng-app="ElTaquin">
	<div class="homePage">
	<nav class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container-fluid">
	    <ul class="nav navbar-nav navbar-left">
	      <li><a href="/home">Home</a></li>
	      <li><a href="/menu">Our Menu</a></li>
	      <li><a href="/about">Hours & Location</a></li>
	    </ul>
	  </div>
	</nav>
	<br>
	<br><!--  make margin of 50px at top when get to css instead of so many breaks -->
	<br>
	  <div class="container">
	    <div ui-view></div>
	  </div>
	</div>
</body>
</html>
