<h2>About Ryan</h2>

<p>Full-stack web developer and former marketer who discovered code and couldn't stop building things. I'm passionate about making ideas come to life and love partnering with other developers, as well as designers and executives to make them happen.</p>

<h2>Projects</h2>

<h4>Name That Emotion</h4>
<p>A game for autistic children to improve social skills by matching a photo with the correct emotion.</p>
<p><strong>Technologies used:</strong> Javascript, jQuery Bootstrap, HTML, CSS</p>

<h4>Colordat</h4>
<p>Search for home decor by color. Users enter a color, view home decor products from Amazon, and save products to color boards for later use.</p>
<p><strong>Technologies used:<strong> Javascript, Express.js, Postgres, Sequelize, HTML, CSS, Heroku</p>

<h4>KayakBuddy</h4>
<p>Find fellow kayakers in your area. Users can log in with facebook, join groups, and more. I was in charge of authentication and authorization, implementing Facebook auth, as well as styling the home page and other pages.
<p><strong>Technologies used:</strong> Ruby, Ruby on Rails, APIs, Materialize, HTML, CSS</p>


<h2>Projects</h2>

<h4>Name That Emotion</h4>
<p>A game for autistic children to improve social skills by matching a photo with the correct emotion.</p>
<p><strong>Technologies used:</strong> Javascript, jQuery Bootstrap, HTML, CSS</p>

<h4>Colordat</h4>
<p>Search for home decor by color. Users enter a color, view home decor products from Amazon, and save products to color boards for later use.</p>
<p><strong>Technologies used:<strong> Javascript, Express.js, Postgres, Sequelize, HTML, CSS, Heroku</p>

<h4>KayakBuddy</h4>
<p>Find fellow kayakers in your area. Users can log in with facebook, join groups, and more. I was in charge of authentication and authorization, implementing Facebook auth, as well as styling the home page and other pages.
<p><strong>Technologies used:</strong> Ruby, Ruby on Rails, APIs, Materialize, HTML, CSS</p>


<h2>Projects</h2>

<h4>Name That Emotion</h4>
<p>A game for autistic children to improve social skills by matching a photo with the correct emotion.</p>
<p><strong>Technologies used:</strong> Javascript, jQuery Bootstrap, HTML, CSS</p>

<h4>Colordat</h4>
<p>Search for home decor by color. Users enter a color, view home decor products from Amazon, and save products to color boards for later use.</p>
<p><strong>Technologies used:<strong> Javascript, Express.js, Postgres, Sequelize, HTML, CSS, Heroku</p>

<h4>KayakBuddy</h4>
<p>Find fellow kayakers in your area. Users can log in with facebook, join groups, and more. I was in charge of authentication and authorization, implementing Facebook auth, as well as styling the home page and other pages.
<p><strong>Technologies used:</strong> Ruby, Ruby on Rails, APIs, Materialize, HTML, CSS</p>
