<style type="text/css">
  body {
    background-image: url("../img/salsas.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .row {
    margin-left: 160px;
    text-align: center;
  }
</style>

<div class="parallax">
<br>
  <h1>Our Menu</h1>
  <hr>
</div>

<div style="height:1250px;background-color:#222222">
<br>
<h2>Botanas:</h2>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <div class="picture">
        <img src="./img/tornado.jpg" class="img-thumbnail">
        <div class="caption">
          <h3>Tornado De Frutas</h3>
          <p>Cucumber, watermelon, jicama, mango with Squirt, lime, chamoy, crunchy peanuts, and chaca chaca candy</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="picture">
        <img src="./img/fresas.jpg" class="img-thumbnail">
        <div class="caption">
          <h3>Fresas con Crema</h3>
          <p>Strawberries and cream</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="picture">
        <img src="./img/mangoneada.png" class="img-thumbnail">
        <div class="caption">
          <h3>Mangoneada</h3>
          <p>Mango sorbet, with mango chunks, chamoy and spicy tamarind candy</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="picture">
        <img src="./img/frutasmixtas.jpeg" class="img-thumbnail">
        <div class="caption">
          <h3>Frutas Mixtas</h3>
          <p>Watermelon, pineapple, cucumber, and mango</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="picture">
        <img src="./img/frutachamoy.jpg" class="img-thumbnail">
        <div class="caption">
          <h3>Fruta con Chamoy</h3>
          <p>Watermelon, pineapple, cucumber, mango, and jicama with lime and chamoy</p>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-2">
      <div class="picture">
        <img src="./img/jicamaprep.jpg" class="img-thumbnail">
        <div class="caption">
          <h3>Jicama Preparada</h3>
          <p>Jicama and cucumnber, with lime, chamoy and spicy tamarind candy</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="picture">
        <img src="./img/pinaloka.jpg" class="img-thumbnail">
        <div class="caption">
          <h3>Piña Loka</h3>
          <p>Whole pineapple with mango, watermelon, cucumber, and jicama, with lime, chamoy, crunchy peanuts and chaca chaca candy</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="picture">
        <img src="./img/bionico.jpg" class="img-thumbnail">
        <div class="caption">
          <h3>Bionico</h3>
          <p>Watermelon, apple, bananas, mango, strawberries, cantaloupe, with honey, granola, raisins, walnuts, and coconut</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="picture">
        <img src="./img/tostis.jpg" class="img-thumbnail">
        <div class="caption">
          <h3>Tostilocos</h3>
          <p>Tostitos chips, jicama, cucumber, cueritos, lime, chamoy, crunchy peanuts, and chaca chaca candy</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="picture">
        <img src="./img/mangochile.jpg" class="img-thumbnail">
        <div class="caption">
          <h3>Mango con Chile</h3>
          <p>Mango tajin and lime</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <div class="picture">
        <img src="./img/diablito.jpg" class="img-thumbnail">
        <div class="caption">
          <h3>Diablito</h3>
          <p>Lime sorbet, with chamoy and spicy tamarind candy</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="picture">
        <img src="./img/frutadulce.jpg" class="img-thumbnail">
        <div class="caption">
          <h3>Fruta con Dulce</h3>
          <p>Mixed fruit with sweetened condensed milk, walnuts, raisins, and coconut</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="picture">
        <img src="./img/frutaconyogur.jpg" class="img-thumbnail">
        <div class="caption">
          <h3>Fruta con Yogurt</h3>
          <p>Cup of mixed fruit with yogurt, walnuts, raisins, and honey</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="picture">
        <img src="./img/fruitsalad.jpg" class="img-thumbnail">
        <div class="caption">
          <h3>Combinado de Frutas</h3>
          <p>Mixed fruit with lime, chamoy, and tajin</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="picture">
        <img src=".//img/jugos.jpg" class="img-thumbnail">
        <div class="caption">
          <h3>Jugos Naturales</h3>
          <p>Natural fruit juices (mango, orange, pineapple, etc.)</p>
        </div>
      </div>
    </div>
  </div>
</div>

</div>

<div class="parallax"></div>

<!--  ---------------------------NEXT SECTION OF MENU-------------------------- -->

<div style="height:1250px;background-color:#222222">
<br>
<h2>Comida:</h2>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <div class="picture">
        <img src="./img/torta.png" class="img-thumbnail">
        <div class="caption">
          <h3>Torta</h3>
          <p>Your choice of meat with lettuce, avocado, tomato, mayo and jalapeños</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="picture">
        <img src="./img/huarache.jpg" class="img-thumbnail">
        <div class="caption">
          <h3>Huarache</h3>
          <p>Similar to a sope but larger. Masa dough topped with beans, lettuce, sour cream, avocado, cheese and your choice of meat</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="picture">
        <img src="./img/tacos.png" class="img-thumbnail">
        <div class="caption">
          <h3>Tacos</h3>
          <p>Your choice of meat: Asada, Al pastor, Chicken, Lengua</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="picture">
        <img src="./img/frutasmixtas.jpeg" class="img-thumbnail">
        <div class="caption">
          <h3>Frutas Mixtas</h3>
          <p>Watermelon, pineapple, cucumber, and mango</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="picture">
        <img src="./img/frutachamoy.jpg" class="img-thumbnail">
        <div class="caption">
          <h3>Fruta con Chamoy</h3>
          <p>Watermelon, pineapple, cucumber, mango, and jicama with lime and chamoy</p>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-2">
      <div class="picture">
        <img src="./img/jicamaprep.jpg" class="img-thumbnail">
        <div class="caption">
          <h3>Jicama Preparada</h3>
          <p>Jicama and cucumnber, with lime, chamoy and spicy tamarind candy</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="picture">
        <img src="./img/pinaloka.jpg" class="img-thumbnail">
        <div class="caption">
          <h3>Piña Loka</h3>
          <p>Whole pineapple with mango, watermelon, cucumber, and jicama, with lime, chamoy, crunchy peanuts and chaca chaca candy</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="picture">
        <img src="./img/bionico.jpg" class="img-thumbnail">
        <div class="caption">
          <h3>Bionico</h3>
          <p>Watermelon, apple, bananas, mango, strawberries, cantaloupe, with honey, granola, raisins, walnuts, and coconut</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="picture">
        <img src="./img/tostis.jpg" class="img-thumbnail">
        <div class="caption">
          <h3>Tostilocos</h3>
          <p>Tostitos chips, jicama, cucumber, cueritos, lime, chamoy, crunchy peanuts, and chaca chaca candy</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="picture">
        <img src="./img/mangochile.jpg" class="img-thumbnail">
        <div class="caption">
          <h3>Mango con Chile</h3>
          <p>Mango tajin and lime</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <div class="picture">
        <img src="./img/diablito.jpg" class="img-thumbnail">
        <div class="caption">
          <h3>Diablito</h3>
          <p>Lime sorbet, with chamoy and spicy tamarind candy</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="picture">
        <img src="./img/frutadulce.jpg" class="img-thumbnail">
        <div class="caption">
          <h3>Fruta con Dulce</h3>
          <p>Mixed fruit with sweetened condensed milk, walnuts, raisins, and coconut</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="picture">
        <img src="./img/frutaconyogur.jpg" class="img-thumbnail">
        <div class="caption">
          <h3>Fruta con Yogurt</h3>
          <p>Cup of mixed fruit with yogurt, walnuts, raisins, and honey</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="picture">
        <img src="./img/fruitsalad.jpg" class="img-thumbnail">
        <div class="caption">
          <h3>Combinado de Frutas</h3>
          <p>Mixed fruit with lime, chamoy, and tajin</p>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="picture">
        <img src=".//img/jugos.jpg" class="img-thumbnail">
        <div class="caption">
          <h3>Jugos Naturales</h3>
          <p>Natural fruit juices (mango, orange, pineapple, etc.)</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="parallax">
  <br><br><hr>
    <a class="backHome" href="/home">Home Page</a>
</div>