<div class="title">
  <h1>Bangin' Tracks</h1>
</div>
<div class="nav">
  <a href="/#/" class="waves-effect waves-light btn-large cyan darken-1">Home</a>
  <a href="/#/about" class="waves-effect waves-light btn-large cyan darken-1">About</a>
  <a href="/#/gifs" class="waves-effect waves-light btn-large cyan darken-1">GIF's</a>
</div>
<div class="music">
  <div class="row">
    <div id="spotify" class="col sm2">
        <iframe src="https://embed.spotify.com/?uri=spotify:track:09CtPGIpYB4BrO8qb1RGsF" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
    </div>
    <div class="col sm2">
        <iframe src="https://embed.spotify.com/?uri=spotify:track:4B0JvthVoAAuygILe3n4Bs" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
    </div>
  </div>
  <div class="row">
    <div id="spotify" class="col sm2">
        <iframe src="https://embed.spotify.com/?uri=spotify:track:6FnJZWhIz1EGpA19U3bzNd" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
    </div>
    <div class="col sm2">
        <iframe src="https://embed.spotify.com/?uri=spotify:track:3WqU0LOANC8xU9BMDpa9gS" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
    </div>
  </div>
</div>
