<h1 class="project_title">Projects</h1>
<div class="well projects col-xs-10 col-sm-10 col-md-8 col-lg-8">
	<h2><a href="http://Java-expresso.herokuapp.com">Java-Expresso</a></h2>
	<p>Java-expresso is an app which helps users find local coffee shops right around them. Just sign up on our website and Java-expresso will be able to save your favorite coffee shops and give directions.</p>
</div>
<div class="well projects col-xs-10 col-sm-10 col-md-8 col-lg-8">
	<h2><a href="http://Contigo.herokuapp.com">Contigo</a></h2>
	<p>Contigo is an app which helps user get connected with people trying to find Uber and Lyft rides. Contigo makes ride sharing easy, just sign-up using facebook and get connected.</p>
</div>
<div class="well projects col-xs-10 col-sm-10 col-md-8 col-lg-8">
	<h2><a href="http://JonathanAndrew.github.io">Jonathan Andrew Productions</a></h2>
	<p>Jonathan Andrew Productions is a Photography, Videography, and Web-Developement company geared towards helping people with their media production needs.</p>
</div>