<h1>Projects</h1>

<div id='projectsContainer'>
  <div class='project'>
    <a href='http://k-buffum.github.io/Project1WDI/' class='projectTitle'><img src='images/hangman.png' id='HM-Pic'></a>
    <br>
    <br>
    <a href='http://k-buffum.github.io/Project1WDI/' class='projectTitle'>Hangman</a>
    <br>
    <br>
    <span>
      Hangman with a spin, I created this hangman based on medical facts so that users can test their knowledge.
      In case you are new to hangman or have simply forgotten how to play, instructions are provided on the home page.
      You can play with one or two players and see a score based on how many tiles are flipped on your guessed letter.
      Hints are available if you are having trouble, just click the drop down arrow.
    </span>
  </div>

  <div class='project'>
    <a href='https://dog-meetup.herokuapp.com/' class='projectTitle'><img src='images/dogMeetUp.png' id='DMU-Pic'></a>
    <br>
    <br>
    <a href='https://dog-meetup.herokuapp.com/' class='projectTitle'>Dog MeetUp</a>
    <br>
    <br>
    <span>
      Dog MeetUp was inspired by the frustrations I faced when taking my dog to a dog park and finding no other dogs to socialize my dog with.
      As a user you can determine the number and size of dogs you are bringing to the dog park.
      After choosing a time and location you plan to take your dog, you can view a chart displaying the number of dogs scheduled to be at your selected dog park through out the day.

    </span>
    <br>
    <br>
  </div>

  <div class='project'>
    <a href='http://rainydayapp.herokuapp.com/' class='projectTitle'><img src='images/rainyDay.png' id='RD-Pic'></a>
    <br>
    <br>
    <a href='http://rainydayapp.herokuapp.com/' class='projectTitle'>Rainy Day</a>
    <br>
    <br>
    <span>
      Rainy day is an app used to store details about places you would like to go in your free time.
      As a user you can search for places, set a goal you would like to accomplish there, and when you are finished you can complete the activity making it an accomplishment.
      This was a group project, as Product Manager I was in charge of the making sure everything was completed in a timely manner.
      I contributed to home page, goals page, and restricting access to users.
    </span>
  </div>
</div>