<style>
	body {
    background: url(../img/shonda.jpeg) center center fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
    color: snow;
}
h2{
	color: darkred;
	font-family: 'Creepster', cursive;
	font-size: 58px;
}
h2, h4 {
    text-shadow: 1px 2px grey;
}
.animated {
	padding: 50px;
}
</style>

<hr>
<h1 class="text-center">FINAL THOUGHTS:</h1>
<h2 class="text-center">Shonda Rhimes is Satan</h2>

<br>

<h4 class="text-center">But also a genius... but mainly the former.</h4>

<div class="text-center">
	<div class="animated bounceInUp">
		<img src='img/carimg/yang.gif'>
	</div>
</div>

<hr>

<a href="/#/GreysAnatomy">Home Page</a>