<!-- What I Do Section -->
<section id="two" class="wrapper style3 fade-up">
  <div class="inner">
    <h2>What I Do</h2>
    <p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus, lacus eget hendrerit bibendum, urna est aliquam sem, sit amet imperdiet est velit quis lorem.</p>
    <div class="features">
      <section>
        <span class="icon major fa-code"></span>
        <h3>Development</h3>
        <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
      </section>
      <section>
        <span class="icon major fa-lock"></span>
        <h3>Client Whispering</h3>
        <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
      </section>
      <section>
        <span class="icon major fa-cog"></span>
        <h3>Shit Shoveling</h3>
        <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
      </section>
      <section>
        <span class="icon major fa-desktop"></span>
        <h3>Product Management</h3>
        <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
      </section>
      <section>
        <span class="icon major fa-chain"></span>
        <h3>Cat Hearding</h3>
        <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
      </section>
      <section>
        <span class="icon major fa-diamond"></span>
        <h3>Return On Investment</h3>
        <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
      </section>
    </div>
    <ul class="actions">
      <li><a href="#" class="button">Learn more</a></li>
    </ul>
  </div>
</section>
