<!-- My Work -->

<section id="one" class="wrapper style2 spotlights">
  <section>
    <a href="/#/storycase" class="image"><img class="thumbimg" src="assets/images/pic01.jpg" alt="" data-position="center center" /></a>
    <div class="content">
      <div class="inner">
        <h2>{{storyText}}</h2>
        <p>A full stack web app product to help product manager write more developer friendly, and modern user stories.</p>
        <ul class="actions">
          <li><a href="http://story-syntax.herokuapp.com/" class="button">Learn more</a></li>
        </ul>
      </div>
    </div>
  </section>
  <section>
    <a href="#" class="image"><img class="thumbimg" src="assets/images/pic02.jpg" alt="" data-position="top center" /></a>
    <div class="content">
      <div class="inner">
        <h2>LikeMe</h2>
        <p>A full stack web app that uses science to help you find your life partner. We present a series of "me/not me" images as our primary method of personality measurement. We use this information to help match you with partners of similar and compatible personality traits.</p>
        <ul class="actions">
          <li><a href="#" class="button">Learn more</a></li>
        </ul>
      </div>
    </div>
  </section>
  <section>
    <a href="#" class="image"><img src="assets/images/pic03.jpg" alt="" data-position="25% 25%" /></a>
    <div class="content">
      <div class="inner">
        <h2>Ultricies aliquam</h2>
        <p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus.</p>
        <ul class="actions">
          <li><a href="#" class="button">Learn more</a></li>
        </ul>
      </div>
    </div>
  </section>
</section>
