<img class="profilePic" src="../img/moist.jpg">
<h1>Moist</h1>
<small>Simon Helberg</small>
<p>Moist is a friend/henchman of Dr. Horrible . His main power is apparently the ability to make things wet which manifests itself as him constantly being soaked to the point where it seems like he sweats profusely. Moist is a member of the Henchmen Union. When Dr. Horrible is contemplating on the idea of killing, Moist suggests children and the elderly, suggesting that he has less compunctions against killing than Dr. Horrible.</p>
